* {
  margin: 0;
  /* border: solid 1px red; */
  background-color: #efefef;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.app_wszystkieWydzialy {
  display: flex;
}
.app_wydzial {
  width: 10vw;
  margin: 10px;
  padding: 5px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.app_wydzial:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.img {
  height: 10vh;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  margin: auto;
}
nav {
  /* background-color: lightgreen; */

  width: 97vw;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.52);
}
